@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
    font-family: "Russo One";
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("img/bodybg.png");
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    position: relative;
    height: auto;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav img{
    margin-right: 70vw;
}
nav{
    width: 100%;
    height:5vw;
    display: flex;
    flex-direction: row;
    background-color: rgba(171,0,116,50%);
    
}
nav div{
    width: 16vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#a3{
    color: rgba(47,32,224,80%);
    text-decoration: underline;   
    font-size: 1.8vw;
}
#menu2{
    background-color: rgba(171,0,116,50%);
    display: none;
    transition: 2s;
}
nav a{
    color: white;
    font-size: 1.5vw;
    margin-right: 1.25vw;
    text-decoration: none;
    transition: 0.5s;
}
nav a:hover{
    color: rgba(47,32,224,80%);
    text-decoration: underline;   
    font-size: 1.8vw;
    transition: 0.5s;
}
nav form{
    width: 13vw;
    font-family: "Russo One";
    transition: 0.5s;
}
nav button{
    width: 100%;
    font-family: "Russo One";
    background-color: rgba(47,32,224,80%);
    color: white;
    font-size: 1.5vw;
    border: none;
    transition: 0.5s;
    height: 100%;
}
nav form:hover {
    width: 18vw;
    transition: 0.5s;
}
nav form:hover button{
    color: rgba(171,0,116,80%);
    transition: 0.5s;
}

#menu{
    margin-left: 1.5vw;
    width: 5vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.4vw;
}
nav div:hover #menu2{   
    display: block;
    transition: 3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#menu div{
    margin: 0;
    margin-top: 1vw;
    background-color: white;
    height: 0.2vw;
    width: 5vw;
}

.info {
    margin-top: 8vw;
    background-color: rgba(171, 0, 116, 60%);
    border-radius: 3vw;
    color: white;
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 90vw;
    align-items: center;
}

.dates {
    display: flex;
    flex-direction: row;
    margin-top: 1vw;
}

.datetime {
    border: none;
    background-color: transparent;
    font-size: 2vw;
    font-weight: 500;
    margin-left: 5vw;
    text-align: center;
    transition: 0.5s;
    color: white;
    text-decoration: none;
}

.datetime:hover {
    color: rgba(21, 5, 170, 0.89);
    transition: 0.5s;
}

.datetime:first-child {
    margin-left: 0;
}

.actortime {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60vw;
    height: 70vw;
    margin-top: 7vw;
}

.actor {
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 0.2vw;
    width: 25vw;
}

.actor img {
    width: 15vw;
}

.actor h1 {
    margin: 0;
    font-size: 2.3vw;
}

.actor h2 {
    margin: 0;
    font-size: 2vw;
}

#actor1 {
    margin-top: -5vw;
}

#actor3 h1 {
    margin-top: 2vw;
}

#actor3 {
    margin-top: 25vw;
}

#actor2 {
    margin-top: 32vw;
}

.linekr {
    width: 10vw;
    height: 57vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kr {
    width: 1.5vw;
    height: 1.5vw;
    background-color: white;
    border-radius: 50%;
}

.line {
    width: 0.5vw;
    height: 28vw;
    background-color: #DFC2C2;
}






footer {
    margin-top: 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 6vw;
    background-color: rgba(47, 32, 224, 50%);
    color: white;
}

.connect {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 67vw;
    margin-left: 5vw;
}

.connect h1 {
    font-size: 1vw;
    letter-spacing: 0.1vw;
}

.phone {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.phone i {
    margin-right: 0.5vw;
    font-size: 1.5vw;
}

.phone h2 {
    font-size: 0.7vw;
    letter-spacing: 0.1vw;
}

.con {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.con i {
    font-size: 1.5vw;
}

.partner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partner h1 {
    font-size: 1vw;
    letter-spacing: 0.1vw;
}

.partners {
    display: flex;
    width: 10vw;
    justify-content: space-between;
}

.partners i {
    font-size: 2.5vw;
}

@media screen and (min-width: 200px) and (max-width: 1200px) {
    header {
        position: relative;
        height: 10vw;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    nav img {
        margin-right: 50vw;
    }

    nav {
        width: 100%;
        height: 10vw;
        display: flex;
        flex-direction: row;
        background-color: rgba(171, 0, 116, 50%);
    }

    nav div {
        width: 16vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #a3 {
        color: rgb(255, 255, 255);
        text-decoration: underline;
        font-size: 2vw;
    }

    #menu2 {
        background-color: rgba(171, 0, 116, 50%);
        display: none;
        transition: 1s;
        position: absolute;
        margin-top: 20vw;
        margin-left: 6vw;
    }

    nav a {
        color: white;
        font-size: 2vw;
        margin-top: 1vw;
        text-decoration: none;
        transition: 0.5s;
    }

    nav a:hover {
        color: rgba(47, 32, 224, 80%);
        text-decoration: underline;
        font-size: 2vw;
        transition: 0.5s;
    }

    nav form {
        width: 20vw;
        font-family: "Russo One";
        transition: 0.5s;
    }

    nav button {
        width: 100%;
        font-family: "Russo One";
        background-color: rgba(47, 32, 224, 80%);
        color: white;
        font-size: 2vw;
        border: none;
        transition: 0.5s;
        height: 100%;
    }

    nav form:hover {
        width: 18vw;
        transition: 0.5s;
    }

    nav form:hover button {
        color: rgba(171, 0, 116, 80%);
        transition: 0.5s;
    }

    #menu {
        margin-left: 7vw;
        width: 5vw;
        display: flex;
        flex-direction: column;
    }

    nav div:hover #menu2 {
        display: block;
        transition: 2s;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #menu div {
        margin: 0;
        margin-top: 1vw;
        background-color: white;
        height: 0.2vw;
        width: 5vw;
    }


    .info {
        width: 70vw;
        height: 110vw;
    }

    .dates {
        margin-top: 3vw;
    }
    
    .datetime {
        font-size: 3vw;
    }

    .actortime {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 60vw;
        height: 70vw;
        margin-top: 10vw;
    }
    
    .actor img {
        width: 20vw;
    }
    
    .actor h1 {
        margin: 0;
        font-size: 3vw;
    }
    
    .actor h2 {
        margin: 0;
        font-size: 2.7vw;
    }
    
    #actor1 {
        margin-top: -5vw;
    }
    
    #actor3 h1 {
        margin-top: 2vw;
    }
    
    #actor3 {
        margin-top: 29vw;
    }
    
    #actor2 {
        margin-top: 35vw;
    }
    
    .linekr {
        width: 10vw;
        height: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .kr {
        width: 2vw;
        height: 2vw;
        background-color: white;
        border-radius: 50%;
    }
    
    .line {
        width: 0.5vw;
        height: 30vw;
        background-color: #DFC2C2;
    }








    footer {
        margin-top: 15vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 15vw;
        background-color: rgba(47, 32, 224, 50%);
        color: white;
        position: absolute;
        bottom: 0;
    }

    .connect {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 50vw;
        margin-left: 5vw;
    }

    .connect h1 {
        font-size: 2.1vw;
        letter-spacing: 0.1vw;
    }

    .phone {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .phone i {
        margin-right: 0.5vw;
        font-size: 2.5vw;
    }

    .phone h2 {
        font-size: 1.4vw;
        letter-spacing: 0.1vw;
    }

    .con {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .con i {
        font-size: 2.5vw;
    }

    .partner {
        display: flex;
        flex-direction: column;
        align-items: center;        
    }

    .partner h1 {
        font-size: 2vw;
        letter-spacing: 0.1vw;
    }

    .partners {
        display: flex;
        width: 18vw;
        justify-content: space-between;
    }

    .partners i {
        font-size: 3.5vw;
    }

}